* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
.navigasi{
    display: flex;
    background-color:#c6b9a9;
    color: white;
    align-items: center;
    padding: 20px;
}
.ling{
    position: absolute;
    right: 10px;
    
}
.ling a{
    color: whitesmoke;
}
.navbar{
    display: flex;
    gap: 1em;
}
.navbar li{
    padding:5px 14px ;
    padding: 5px 14px;
    border-radius: 5px;
    background-color: #ff8739;
    transition: background-color 0.3s ease;
}
.navbar li:hover{
    background-color: #fe312b;
    border-radius: 5px;
}
.dropdown{
    display: none;
    background-color: #ff8739;
    position: absolute;
    top: 40px;
    padding: 1em 0;
    right: 45%;
    border-radius: 8%;
}
.dropdown li{
    width: 10em;
    align-items: center;

}
.anggota:hover .dropdown{
    display: block;
}
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    background:  url('../image/maxver.jpg');
    background-position: center;
    background-size: cover;
}
  .menu {
    margin: 0 auto;
    padding: 20px;
    background-color: #00b3ff,opacity(0.5);
    margin-top: 50px;
    text-align: center;
    height: 600px;
    margin-bottom: 50px;
  }
  .profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  h1 {
    color: whitesmoke; 
  }  
  h3 {
    color: white;
    font-family: monospace;
    font-style: italic;
  }
  
footer {
    background-color: #1b2103;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    margin: 0 auto;
}